.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}
.front {
  font-size: 70px;
  background-color: #c0392b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24vw;
  height: 40vh;
}
.back {
  background: #16a085;
  width: 24vw;
  height: 40vh;
}

.App {
  margin: 10px;
}
